<body>
  
              <div id="title">
                  <div class="animation-element slide-left">
                      <h1>Edunomics Tech Solutions is a custom software development company</h1>
                      <h2>Edunomics provides turn-key software development services that add value to your business. Contact us today and transform your ideas into solutions!</h2>
                     <a href="/contact"> <button type="button" class="btn22 btn-outline-white btn-rounded"><p id="pd">Contact Us &nbsp;<mdb-icon fas icon="arrow-down"></mdb-icon></p></button></a>
                    </div>
              </div>
              <video class="visible-desktop" autoplay loop muted>
                  <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
              </video>
  
  
<!-- //Why choose edunomics// -->

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 column1">
      <!-- Card content -->
      
      <div class="jumbotron jumb1 animation-element slide-left">
        <div class="text-center ">

    <!-- Title -->
    <p class="ct"><b>Why choose Edunomics?</b></p>
    <!-- Subtitle -->
    <p class="cardtitle"><b>Lets evolve the answer/journey</b></p>
 <a class="scroll" href="#wwd">  <button type="button" class="btn btn122 btn-outline-elegant btn-rounded waves-effect">What we do <mdb-icon fas icon="arrow-down"></mdb-icon></button></a>
<a class="scroll" href="#wws"> <button type="button" class="btn btn12 btn-outline-elegant btn-rounded waves-effect">What we serve <mdb-icon fas icon="arrow-down"></mdb-icon></button></a>

  </div>
  </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <p class="cardtxt">Edunomics offers our customers a wealth of technical and business expertise. We create diverse, complex, web and mobile solutions for any business need. Our knowledge and experience translate to added value and peace of mind for our customers. With Syberry you get quality software and perfect service every time.
          </p>
      </div>
</div>
<!-- What we do -->

<div class="row rrr">
  <div class="col-lg-6 col-md-6 col-sm-6 coll p-0" id="wwd" >
  <div class="view">
    <img src="../../assets/image/city1.jpg"alt="placeholder">
    <div class="mask waves-effect waves-light rgba-white-slight"  mdbWavesEffect>
      <p class="pp1" >What We Do</p>
      <p class="pp2">To learn more about how we can help your business, check out our areas of expertise and don't hesitate to shoot us a question!</p>
    </div>
  </div>
  </div>
  
  <div class="col-lg-6 col-md-6 col-sm-6 p-0" >
      <div class="card">
    <p class="p1"><b>Custom Software Development</b></p>
      <p class="p2">We listen to your ideas and create custom software solutions from the ground up, designed especially for your business. Syberry customers agree that our engineers and executive team are some of the best in the world. You can trust that we'll do it right the first time.</p>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
        <div class="card">
      <p class="pq"><b>Quality Assurance</b></p>
       <p class="pq1">We believe in getting it right every time - that's why our Quality Assurance and Production teams work separately. We conduct thorough and rigorous QA checks on all of our projects. We can also check third-party products to ensure you're getting what you expect.</p>
    </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
        
        <p class="pq" style="color:#5c3c8b"><b>Product Development</b></p>
        <p class="pq1">We've created, engineered, and delivered software solutions for companies in almost every industry. Syberry customers get the best results every time because of our passion, expertise, and experience.</p>
 
      </div>
  </div>
  <div class="row r">
      <div class="col-lg-6 col-md-6 col-sm-6 p-0">
         
        <p class="pqp"><b>Business Analysis</b></p>
        <p class="pqp1">Before Syberry actually engineers a product, we always talk to our customers to understand their needs. Our team can analyze your project's functionality, business logic, software architecture, and future user scenarios. We'll sweat the small stuff so you can focus on the big picture.</p>
    
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 column11 p-0">
          
          <div class="view animation-element slide-left">
              <img src="../../assets/image/rocket.jpg"alt="placeholder">
              <div class="mask waves-effect waves-light rgba-black-light"   mdbWavesEffect >
                  <p class="white-text wtt animation-element slide-left">Have a project or business idea? Push the button to get started!</p>
                  <button type="button" class="btn bbt btn-light btn-rounded waves-effect animation-element slide-left">Get Started Today</button>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="card">
           <p class="pq" style="color:#00758b"><b>Legacy Software Modernization</b></p>
           <p class="pq1">Edunomics offers a service to update or replace your outdated legacy systems with cutting-edge new technologies and efficient custom software systems. We will bring back the efficiency of your business and get it to the new level to outrun your competition.</p>
        </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="card">
            <p class="pq" style="color:#149f81"><b>Leveraging Your Resources</b></p>
            <p class="pq11">Each Edunomics client works with a handpicked team of our experts. From idea to implementation, we can leverage your existing resources or become your new IT crew.</p>
          </div>
          </div>
      </div>

    <!-- who we serve -->
      <div class="row ro" id="wws">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <!-- Card content -->
            <div class="jumbotron jumb2 animation-element slide-left">
              <div class="text-center">
          <!-- Title -->
          <p class="title"><strong>What we serve</strong></p>
        </div>
        </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <p class="text">Edunomics serves businesses in all major sectors, providing exceptional software solutions for large corporations, mid-sized enterprises, and startups. We use industry-specific knowledge and custom-tailor our products to each customer's unique needs.
                </p>
            </div>
      </div>

<!-- who we serve next section -->
<div class="container-fluid">
<div class="row ro1">
  <div class="col-lg-3 col-sm-3"  data-aos="fade-up">
    <img src="../../assets/image/manage how we work.png">
    <p class="aa">Construction</p>
    <p>From the finances to the finish outs, our custom construction management solutions make it easy to track and manage the many facets of construction projects, including single-family homes, mixed-use condos, large office buildings, and everything in between.</p>
  </div>
  <div class="col-lg-3 col-sm-3"  data-aos="fade-up">
    <img src="../../assets/image/introduction how we work.png">
      <p class="aa">Wholesale and Retail</p>
      <p>The CRM systems we have designed and supported handle comprehensive operations for wholesale and retail providers—inventory, invoicing, tracking, shipping, and more. Syberry’s expert engineers can custom-build a system that fits and improves your existing business processes.</p>
    </div>
    <div class="col-lg-3 col-sm-3"  data-aos="fade-up">
      <img src="../../assets/image/deliverable how we work.png">
        <p class="aa">Education</p>
        <p>We're a little nerdy, so we know a lot about education. From e-learning and training portals to certification software, a custom Syberry solution will add value for your students and organization.</p>
      </div>
      <div class="col-lg-3 col-sm-3" data-aos="fade-up">
        <img src="../../assets/image/deploy how we work.png">
          <p class="aa">Transportation</p>
          <p>From dispatching and job assignments to cargo tracking, ordering automation, and performance monitoring, Syberry’s custom solutions and applications add considerable value companies, working in the transportation and logistics industry.</p>
        </div>
</div>
</div>

  <p class="n">Don’t see your industry here? We can help. Talk to our Solution Director today!</p>

<!-- //client -->
<div class="row ro">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- Card content -->
      <div class="jumbotron jumb3 animation-element slide-left">
        <div class="text-center">

    <!-- Title -->
    <p class="title tt"><b>What we have created</b></p>

  </div>
  </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        
      </div>
</div>
   
   <div class="customer-logos">
      
    <div class="slide"><img src="../../assets/image/20-20.png"></div>
      <div class="slide"><img src="../../assets/image/5 elements.jpg"></div>
      <div class="slide"><img src="../../assets/image/eqip.png"></div>
      <div class="slide"><img src="../../assets/image/rcd.png"></div>
      <div class="slide"><img src="../../assets/image/packmegood.jpeg"></div>
   
  </div>
  <!-- //end client/ -->
<div class="grid"> 
   <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
          <div class="view animation-element slide-left">
              <img src="../../assets/image/tab1.jpg"alt="placeholder">
              <div class="mask waves-effect waves-light rgba-black-light">
                  <p class="white-text wt">Digital Rights Management Platform</p>
                <p class="white-text" style="margin-right:30px;">This integrated DRM Platform was designed to seamlessly handle thousands of music venues simultaneously. The software can also recognize songs and integrate data into IP owners' systems.</p>
                   <p class="white-text"><b> Technology:</b> Java, AWS Cloud, Python</p>
              </div>
            </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
        <div class="view animation-element slide-right">
            <img src="../../assets/image/img1.jpg" alt="placeholder">
            <div class="mask  waves-effect waves-light rgba-black-light">
                <p class="white-text wt">Mission Control Platform</p>
              <p class="white-text" style="margin-right:50px;">This comprehensive video streaming solution was designed for first responders. It captures, saves, stores and manages video data with cutting-edge technology and superior infrastructure — our latency time is super low (<0.50 seconds). In other words, we changed the game for agencies that rely on flawless video streams and recordings.</p>
                  <p class="white-text"><b>Technology:</b> PHP, Node.js, WOWSA, C++ </p>
            </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 p-0">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="view animation-element slide-left">
                    <img src="../../assets/image/construction.jpg" class="img-fluid" alt="placeholder">
                    <div class="mask  waves-effect waves-light rgba-black-light">
                        <p class="white-text wt1">Steel Estimation Solutions Wizard</p>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                  <div class="view animation-element slide-right">
                      <img src="../../assets/image/track4.jpg" class="img-fluid" alt="placeholder">
                      <div class="mask  waves-effect waves-light rgba-black-light">
                          <p class="white-text wt1">Integrated Medical Consumables Tracker</p>
                      </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                <div class="view animation-element slide-left">
                    <img src="../../assets/image/hr5.jpg" class="img-fluid" alt="placeholder">
                    <div class="mask  waves-effect waves-light rgba-black-light">
                        <p class="white-text wt1">HR & Talent Recruitment Portal</p>
                    </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                  <div class="view animation-element slide-right">
                      <img src="../../assets/image/homeinven6.jpg" class="img-fluid" alt="placeholder">
                      <div class="mask  waves-effect waves-light rgba-black-light">
                          <p class="white-text wt1">Home Inventory Management</p>
                      </div>
                    </div>
                </div>
        </div>
        
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 p-0">
          <div class="view animation-element slide-left">
              <img src="../../assets/image/social.jpg" class="img-fluid" alt="placeholder">
              <div class="mask  waves-effect waves-light rgba-black-light">
                  <p class="white-text wt">Ultimate Social Media Manager For Photographers</p>
                <p class="white-text" style="margin-right:50px;">This web-based solution was designed for professional photographers. It automates daily tasks like managing portfolios, sharing photos, and social media marketing (SMM). This solution helps anyone who manages high-end graphics by optimizing SMM flows and saving valuable time.</p>
                    <p class="white-text"><b>Technology:</b> PHP, MySQL, Amazon S3</p>
              </div>
            </div>
        </div>
    </div>
  </div>

<!--  -->
<div class="view v1">
    <img src="../../assets/image/sunimg.jpg" class="img-fluid im1" alt="placeholder">
    <div class="mask  waves-effect waves-light rgba-black-light">
        <p class="white-text ww">What We Promise</p>
      <p class="white-text"><mdb-icon fas icon="check"></mdb-icon>Edunomics biggest concern when choosing a technology is how it fits our customer's needs.</p>
          <p class="white-text p11"><mdb-icon fas icon="check"></mdb-icon>Edunomics does not resell any platforms or technologies of the third party vendors. We promise that we never have any commercial incentive while choosing a technology or approach, we base our decision only on the fact how our customers would benefit from it.</p>
          <p class="white-text"><mdb-icon fas icon="check"></mdb-icon>Our customers' time is their money, so completing every project on time is one of Syberry's biggest priorities.</p>
          <p class="white-text"><mdb-icon fas icon="check"></mdb-icon>Our customers value fair and transparent pricing, so that's what Syberry offers.</p>
    </div>
  </div>

  <!--  -->
  
   
      <p class="title t1"><strong>To learn how Edunomics can transform your business, schedule a free consultation today!</strong></p>
  <div class="container">
    <div class="row">
    
      <img class="im" src="../../assets/image/deliverable how we work.png"><span id="sp">We're ready to sign NDA agreement</span>    
      
      <hr  class="hh">
      
      <img  class="im2"src="../../assets/image/manage how we work.png"><span id="sp">RFP analysis is
        absolutely free</span> 
        <hr  class="hh">
       
        <img class="im3" src="../../assets/image/communicate how we work.png"><span id="sp">We will respond to
        you within 24 hours
      </span>
    </div>
    
    
    <form>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
            <p> First Name* </p><input type="text" name="name" class="form-control" >
            </div>
            <div class="col-sm-6">
               <p> Last Name*</p><input type="text" name="name" class="form-control">
              </div>
          </div>
          <br>
              <div class="row">
                  <div class="col-sm-6">
                     <p> Phone #* </p><input type="text" name="name" class="form-control" >
                  </div>
                  <div class="col-sm-6">
                     <p> Business e-mail* </p> <input type="text" name="name" class="form-control">
                    </div>
          </div><br><br>
        
             <p>Company Name*</p><input type="text" name="name" class="form-control">
         
        
      </div>
        <div class="col-sm-6">
           <p>What can we help you with?</p><textarea name="textarea" id="textarea" cols="20" rows="10" class="form-control" ></textarea>
          </div>
      </div>
      <br><br><Br>
      <button type="button" class="btn1 btn-outline-elegant btn-rounded"><p id="pd">Send</p></button>
    </form>
  </div>
   


  <!-- footer -->
  <footer class="text-light f1">
    <div class="container-fluid">
        <div class="row vdivide">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5>BLOGS</h5>
            
                <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p><br>
           <p style="color:white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, sequi est sit quod </p>
           <hr class="mx-auto">
            <div class="row">
             
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ml-3">Edunomics Tech Solution</h5>
            <p style="margin-left: 15%;color:white">contact@edunomics.in</p>
            </div>
            <hr>
            <p style="margin-left: 15%;color:white">BUSINESS HOURS <br>24*7</p>
          <hr>
           <!-- Social buttons -->
      <div class="row">
          <span>
            <p class="edu">2019 : Edunomics</p>
          </span>
         <div>
                       <ul class="list-unstyled lu list-inline text-center">
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="fb" mdbWavesEffect>
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="tw" mdbWavesEffect>
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
            <mdb-icon fab fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
          <a mdbBtn floating="true" color="li" mdbWavesEffect>
            <mdb-icon fab icon="linkedin"></mdb-icon>
          </a>
        </li>
        <li class="list-inline-item">
            <a mdbBtn floating="true" color="wh" mdbWavesEffect>
              <mdb-icon fab icon="whatsapp"></mdb-icon>
            </a>
          </li>
      </ul>
    </div>

    </div>
  
      <!-- Social buttons -->
          </div>
          
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SERVICES</h5>
               
                <ul class="list-unstyled">
                    <li><a routerLink="/come">Custom Software Development</a></li>
                    <li><a routerLink="/come"> Mobile Software Development</a></li>
                    <li><a routerLink="/come">Software Prototyping</a></li>
                    <li><a routerLink="/come"> Dedicated Development Teams</a></li>
                    <li><a routerLink="/come">Software Maintenance Program</a></li>
                    <li><a routerLink="/come">Software Product Development</a></li>
                    <li><a routerLink="/come">Quality Assurance</a></li>
                    <li><a routerLink="/come">Legacy Software Migration</a></li>
                    <li><a routerLink="/come"> DevOps Automation</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>SOLUTIONS</h5>
          
                <ul class="list-unstyled">
                    <li><a routerLink="/come">DMS</a></li>
                    <li><a routerLink="/come">SMS</a></li>
                    <li><a routerLink="/come">CMS</a></li>
                    <li><a routerLink="/come">IOT</a></li>
                    <li><a routerLink="/come">Mobile</a></li>
                    <li><a routerLink="/come">Web Applications</a></li>
                    <li><a routerLink="/come">Cost Finder</a></li>
                    <li><a routerLink="/come">Tracking</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/career">- Career</a></li>
                    <li><a routerLink="/Affiliate-Programme">- Affiliate Program</a></li>
                    <li><a routerLink="/about">- About Us</a></li>
                    <li><a routerLink="how-we-work">- How we work</a></li>
                    <li><a routerLink="/come">- Startups</a></li>
                    <li><a routerLink="/blog">- Blog</a></li>
                    <li><a routerLink="/whitepaper">- White Paper</a></li>
                    <li><a routerLink="/contact">- Contact Us</a></li>
                   
                </ul>
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 ">
                <h5>INDUSTRY</h5>
        
                <ul class="list-unstyled">
                    <li><a routerLink="/come">Education</a></li>
                    <li><a routerLink="/come">Retail & Wholesale</a></li>
                    <li><a routerLink="/come">Construction</a></li>
                    <li><a routerLink="/come">Transpotation</a></li>
                </ul>
              </div>
        </div>
      </div>
        <!-- Footer Links -->
  
     
  
      <!-- Copyright -->
      <hr>
      <div class="navbar navbar-expand-md navbar-fixed-bottom">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0" >
          <li class="nav-item">
            <a class="nav-link" href="/solution">Solution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/service">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
                <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
  
        </ul>
     
      </div>
      <!-- Copyright -->
   
</footer>

<footer class="text-light f2">
    <div class="container">
        <h5 class="font-weight-bold" style="text-align: center;  margin-left:10px;">Edunomics Tech Solution</h5>
        <h6 style="text-align: center;">9082626356</h6>
        <h6 style="text-align: center;">Business Hours</h6>
        <p  class="e" style="text-align: center;">24*7</p>
        <h6 style="text-align: center;">contact@edunomics.in</h6>
        <hr>
        <h5 class="font-weight-bold" style="text-align: center;">Quick Links</h5>
       <a class="nav-link" routerLink="/about"><h6 style="text-align: center;">About Us</h6></a>
       <a class="nav-link" routerLink="/team"><h6 style="text-align: center;">Our Team</h6></a>
         <a class="nav-link" routerLink="/blog"><h6 style="text-align: center;">Our Blog</h6></a>
        <a class="nav-link" routerLink="/solution"><h6 style="text-align: center;">Solution</h6></a>
        <hr>
        
 <!-- Social buttons -->
 <div class="row row1">
    <div class="col-sm-6 column">
      <p class="e1">2019 : Edunomics</p>
    </div>
   <div class="col-sm-6 column">
                 <ul class="list-unstyled list-inline text-center">
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="fb" mdbWavesEffect>
      <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="tw" mdbWavesEffect>
      <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="gplus"  mdbWavesEffect>
      <mdb-icon fab fab icon="google-plus"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" color="li" mdbWavesEffect>
      <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
  </li>
  <li class="list-inline-item">
      <!-- <a routerLink="#" mdbBtn floating="true" color="wh" mdbWavesEffect>
        <mdb-icon fab icon="whatsapp"></mdb-icon>
      </a> -->
     <mdb-icon class="whats" fab icon="whatsapp"></mdb-icon>
    </li>
</ul>
</div>

</div>

<!-- Social buttons -->
      </div>

      <hr>
      <!-- Copyright -->
   
</footer>
<div class="row last1 fixed-bottom">
    <span>
        <a mdbBtn floating="true" color="ph" mdbWavesEffect>
          <mdb-icon class="phone" fas icon="phone"></mdb-icon></a>
    </span>
    <span class="vertical-line"></span>
          <span>
            <a routerLink="/solution" class="ser">Solution</a>
          </span>
          <span class="vertical-line"></span>
            <span>
             <a routerLink="/service" class="ser1">Service</a>
            </span>
            <span class="vertical-line"></span>
            <span>
              <a href="https://wa.me/908262356" target="_blank"><mdb-icon class="whatss" fab icon="whatsapp"></mdb-icon></a>       
            </span>
</div>

</body>


  